/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

.main a, .glyphicon-pencil{
  color: black;
}
.sidebar a{
    color: white;
}
.sidebar a:hover{
    color: black;
}

.logo{
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    /*right: 0;*/
    /*padding: 10px;*/
}
.sidebar{
    background-color: #46494C;
    font-size: 20px;
    height: 100% !important;
}
.main{
    background-color: #DCDCDD;
    font-size: 18px;
    /*position: relative;*/
}
